extends layout

block content
  h1 Administrador de Bancos
  .campos
    input#campo1(type="text", name="campo1")
    input#campo2(type="text", name="campo2")
    input#campo3(type="text", name="campo3")
    input#campo4(type="text", name="campo4")
    a(href="") Guardar
  table 
    thead
      th id
      th Nombre
      th Cadena Mundial
      th Años
      th Opcion Eliminar
      th Opcion Modificar 
    tbody.datos

